#btnLogin {
    -fx-background-color: #8A4D16;
    -fx-background-radius: 20px;
}

#btnLogin:hover {
    -fx-background-color: #4D3B27;
    -fx-cursor: hand;
}

#btnLogin:pressed {
    -fx-background-color: #8A4D16;
}

.radius-20 {
    -fx-background-radius: 20px;
}

