@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#btnLogin {
    -fx-background-color:  #da8936;
    -fx-background-radius: 20px;
    -fx-font-size: 20px;
    -fx-font-family: 'Raleway', sans-serif;
}

#btnLogin:hover {
    -fx-background-color: #fff5c2;
    -fx-cursor: hand;
    -fx-font-size: 20px;
    -fx-font-family: 'Raleway', sans-serif;
}

#btnLogin:pressed {
    -fx-background-color: #da8936;
    -fx-font-size: 20px;
    -fx-font-family: 'Raleway', sans-serif;
}

#textArea {
    /*-fx-text-fill: white;*/
    -fx-font-family: 'Raleway', sans-serif;
}

#textArea:pressed {
    -fx-font-size: 20px;
}

.btnOpacity {
   -fx-cursor: hand;
}

.btnOpacity:hover {
    -fx-opacity: 0.08;
}

.btnOpacity:pressed {
    -fx-opacity: 0;
}


.btnHoverPressed {
    -fx-cursor: hand;
    -fx-background-color: black;
}

.btnHoverPressed:hover {
    -fx-opacity: 0.15;
}

.btnHoverPressed:pressed {
    -fx-opacity: 0;
}


.raleway {
    -fx-font-family: 'Raleway', sans-serif;
}

.field {
    -fx-text-fill: #fff5c2;
    -fx-font-family: 'Raleway', sans-serif;
    -fx-font-size: 15px;
}

