#btnLogin {
    -fx-background-color:  #da8936;
    -fx-background-radius: 20px;
}

#btnLogin:hover {
    -fx-background-color: #fff5c2;
    -fx-cursor: hand;
}

#btnLogin:pressed {
    -fx-background-color: #8A4D16;
}

.paneLogin {
    -fx-background-color:  rgba(224,224,224,0.7);
}

.radius-20 {
    -fx-background-radius: 20px;
}

